# Pycharm
.idea/

# MacOS file
*.DS_Store

# Compile files
__pycache__/
*.py[cod]

# DB
db.sqlite3

# MEDIA
media/
!media/.gitkeep

# STATIC
static/
!static/.gitkeep

!templates/.gitkeep

# Settings
settings/dev.py
settings/local.py