# Pycharm
.idea/

# MacOS files
*.DS_Store

# Compile python files
*.py[cod]
__pycache__/

# Translated files
*.mo
*.pot

#  Sqlite DB
db.sqlite3

# STATIC
!src/static/.gitkeep

# Musicroom Templates
!src/templates/.gitkeep

# Config directory
conf/**
!conf/local_settings.py.sample

# Empty var directories
var/log/**
!var/log/.gitkeep

var/media/**
!var/media/.gitkeep

var/tmp/**
!var/tmp/.gitkeep

# my doc
docs/my_doc.txt